@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #95a3b3;
}

/* Navegação | Cabeçalho */
header {
    align-items: center;
    background: #abfaa9;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Testo do lado esquerdo, que nos leva de volta a Home */
header .home {
    list-style: none; 
    text-decoration: none;
}

header .home a#ativo {
    color: #333333;
    font-weight: bold;
}

header .home{
    color: #333333;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

header .home a:hover {
    text-decoration: underline;
    font-weight: bold;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li:last-child a {
    margin-right: none;
}

header nav ul li a {
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

header nav ul li a#ativo {
    color: #333333;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}
/* Final Navegação | Cabeçalho */

/* Container + Banner1 + Sobre */
.container {
    position: relative;
  }
  
#banner1 {
    margin-bottom: 25px;
    float: left;
    width: 100%;
    height: 300px;
    background: url(./assets/IMG/banner1.jpg) repeat-x top center;
}

#sobre {
    position: absolute;
    font-size: 26px;
    left: 50px;
    top: 90px;
    color: #bebebe;
}

#sobre2 {
    position: absolute;
    font-size: 26px;
    left: 160px;
    right: 120px;
    top: 160px;
    color: #bebebe;
}
/* Fim Container + Banner1 + Sobre */

/* Campo de busca */
#Busca{
    background-color:#E0EEEE;
    border:solid 2px brown;
    border-radius:10px;
    width: 200px;
    height:20px;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    padding-bottom: 5px;
    font-size:15px;
    border:none;
    height:20px;
    width:190px;
}   
/* Fim Campo de busca */



/* Footer */
.footer {
    background-color: #42253b;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 100%;
    height: 70px;
    text-align: center;
    color: #808080;
}

.redes {
    color: #808080;
    text-decoration: none;
}

/* Final Footer */