@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #95a3b3;
}

/* Navegação | Cabeçalho */
header {
    background: #abfaa9;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 1px;
    padding-right: 1px;
    padding: 20px;
    position: relative;
}

header .menu__item {
    align-items: right;
    margin-left: 200px;
    list-style: none; 
    text-decoration: none;
    color: #000000;
    text-decoration: none;
    text-transform: lowercase;
    position: relative;

}

header .menu__item a#ativo {
    color: #4c2c69;
    font-weight: bold;
}

header .menu__item a:hover {
    text-decoration: wavy underline;
    font-weight: bold;
    color: #ff0000;
}

/* Final Navegação | Cabeçalho */
  

/* About */
#about .about {
    margin: 20px;
}
/* End About */



/* Footer */
.footer {
    background-color: #42253b;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 100%;
    height: 70px;
    text-align: center;
    color: #808080;
}

.redes {
    color: #808080;
    text-decoration: none;
}

/* Final Footer */