@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #95a3b3;
}

/* Navegação | Cabeçalho */
header {
    background: #abfaa9;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 1px;
    padding-right: 1px;
    padding: 20px;
    position: relative;
}

/* Testo do lado esquerdo, que nos leva de volta a Home */
header .menu__item {
    align-items: right;
    margin-left: 200px;
    list-style: none; 
    text-decoration: none;
    color: #000000;
    text-decoration: none;
    text-transform: lowercase;
    position: relative;

}

header .menu__item a#ativo {
    color: #4c2c69;
    font-weight: bold;
}

header .menu__item a:hover {
    text-decoration: wavy underline;
    font-weight: bold;
    color: #ff0000;
}

/* Final Navegação | Cabeçalho */
  
#banner1 {
    margin-bottom: 25px;
    float: left;
    width: 100%;
    height: 300px;
    background: url(./assets/IMG/banner1.jpg) repeat-x top center;
}

#sobre {
    position: absolute;
    font-size: 26px;
    left: 50px;
    top: 90px;
    color: #bebebe;
}

#sobre2 {
    position: absolute;
    font-size: 26px;
    left: 160px;
    right: 120px;
    top: 160px;
    color: #bebebe;
}
/* Fim Container + Banner1 + Sobre */

/* Campo de busca */
#Busca{
    background-color:#E0EEEE;
    border:solid 2px brown;
    border-radius:10px;
    width: 200px;
    height:20px;
}
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    padding-bottom: 5px;
    font-size:15px;
    border:none;
    height:20px;
    width:190px;
}   
/* Fim Campo de busca */



/* Footer */
.footer {
    background-color: #42253b;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 100%;
    height: 70px;
    text-align: center;
    color: #808080;
}

.redes {
    color: #808080;
    text-decoration: none;
}

/* Final Footer */